.footer_global {
  width: 100%;
  height: auto;
  margin-top: 25px;
  color: var(--cor-de-fundo);
  align-items: center;
  margin: 0;

}

.footer_global h2 {
  font-family: var(--fonte-titulo);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: var(--cor-de-fundo);
}

.footer_global p {
  font-family: var(--fonte-titulo);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}

.container_global {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 85px;
  height: 59vh;
  background-color: var(--cor-cinza);
}

.coluna_1 {
  margin-top: -35px;
}

.coluna_3 {
  margin-top: -120px;
}

.coluna_4 {
  margin-top: 120px;
}

.coluna_4 a img {
  width: 70px;
  height: 70px;
}

.coluna_1 a img {
  margin-right: 56.25px;
}

.copyright-area {
  height: 50px;
  background:var(--cor-preto);
  padding: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright-text p {
  text-align: center;
  font-size: 14px;
  color:var(--cor-de-fundo);
}

@media (max-width: 480px) {
  .container_global {
    width: 463px;
    height: 800px;
    flex-direction: column;
    align-items:first baseline;
    gap: 40px;
    .coluna_3 {	
      margin-left: 30px;
      margin-top: 40px;
    }
  }
    .coluna_4 {
      display: none;
  }
}



@media (min-width: 481px) and (max-width: 768px) {
  .container_global {
      display: flex;
      flex-direction:row;
      align-items: center;
      gap: 5px;
      .coluna_4 {
        display: none;
    }
  }
}
