<header class="cabecalho">
    <a class="logo" href="/">
        <img src="../../../assets/Logo.png" alt="Logo Trevo">
    </a> 
        <nav class="cabecalho_menu">
            <a class="cabecalho_menu_link" href="/">Início</a>
            <a class="cabecalho_menu_link" href="#form">Destaques</a>
            <a class="cabecalho_menu_link" (click)="scrollToComponent('#card')">Categoria</a>
            <a class="cabecalho_menu_link" href="#form">Newsletter</a>
            <a class="cabecalho_menu_link" routerLink="/video">Vídeos</a>
            <a class="cabecalho_menu_link" routerLink="/footer">Contato</a>
        </nav>
    <a class="wpp">
        <img src="../../../assets/wpp.png" alt="Logo whatsapp link">
    </a>
</header>