<div class="title">
    <h1 class="h1_title">EM DESTAQUE</h1>
</div>
<section class="section_global"> 
    <div class="div_master">
        <div class="cards">
            <img class="img_card" src="../../../assets/destaque/destaque 1.png" alt="Destaque 1">
            <h3 class="h3_destaque">Trator New Holland</h3>
            <p class="paragrafo">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>    
        </div>
        <div class="cards">
            <img class="img_card" src="../../../assets/destaque/destaque 2.png" alt="Destaque 1">
            <h3 class="h3_destaque">Trator New Holland</h3>
            <p class="paragrafo">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
            </p>    
        </div>
        <div class="cards">
            <img class="img_card" src="../../../assets/destaque/destaque 3.png" alt="Destaque 1">
            <h3 class="h3_destaque">Trator New Holland</h3>
            <p class="paragrafo">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>    
        </div>
    </div>
</section>
<h1 class="title_categoria">NAVEGUE PELAS CATEGORIAS</h1>
<section class="section_categoria">
    <div class="div_categoria_master"> 
        <div class="cards_categoria">
            <img src="../../../assets/categoria/trator 1.png" alt="Image trator">     
            <h3>Tratores</h3>      
        </div>      
        <div class="cards_categoria">
            <img src="../../../assets/categoria/implementos 1.png" alt="Image implementos">
            <h3>Implementos</h3>
        </div>
        <div class="cards_categoria">
            <img src="../../../assets/categoria/Pneus 1.png" alt="Image pneus">
            <h3>Pneus</h3>
        </div>
        <div class="cards_categoria">
            <img src="../../../assets/categoria/Locacao 1.png" alt="Image Locação">
            <h3>Locação</h3>
        </div>
        <div class="cards_categoria">
            <img src="../../../assets/categoria/Pecas 1.png" alt="Image Pacas">
            <h3>Peças</h3>
        </div>
        <div class="cards_categoria">
            <img src="../../../assets/categoria/Caminhoes 1.png" alt="Image Caminhoes">
            <h3>Caminhões</h3>
        </div>
    </div>
</section>
    